/* ----- Primary Button Styles 
----- */

@use '../../abstracts/' as *;

.secondary_btn {
	padding: 0.625rem 3.375rem;
	border: 3px solid var(--clr-green-light);
	background-color: transparent;
	box-shadow: 0px 4px 4px 0px var(--clr-shadow-black);
	font-size: var(--fs-btn);
	font-weight: 400;
	color: var(--clr-blue-dark);
	text-align: center;
	text-transform: capitalize;
}
