/* ----- Testimonials Section Styles 
----- */

@use '../../abstracts/' as *;

.testimonials {
	&__wrapper {
		margin: 0 auto;

		@include breakpoint-up(lg) {
			padding: 0 1rem;
		}
	}

	&__header___block {
		margin: 0 auto;
		max-width: 800px;
		color: var(--clr-blue-dark);
		text-align: center;
	}

	&__header {
		font-size: var(--fs-h2);
		font-weight: 700;
	}

	&__sub_header {
		margin-top: 2rem;
		opacity: 0.9;

		> span {
			font-weight: 700;
		}
	}

	&__card___block {
		margin-top: 3rem;

		@include breakpoint-up(lg) {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 1rem;
		}
	}
}
