@use '../abstracts/mixins/mixins' as *;

.circleLineLeft {
	background-image: url('/images/svgs/circle-line-left.svg');
	background-size: auto;
	background-repeat: no-repeat;
	height: 20px;
	width: 334px;
	position: relative;
	transform: translateY(300%);
	left: -100%;

	@include breakpoint-down(md) {
		display: none;
	}
}

.circleLineRight {
	background-image: url('/images/svgs/circle-line-right.svg');
	background-size: auto;
	background-repeat: no-repeat;
	height: 20px;
	width: 334px;
	position: relative;
	transform: translateY(300%);
	right: -100%;

	@include breakpoint-down(md) {
		display: none;
	}
}

.circleLineNone {
	display: none;
}
