@import '../abstracts/mixins';

.circleLineLeft {
	background-image: url(/images/circle-line-left.svg);
	background-size: auto;
	background-repeat: no-repeat;
	height: 20px;
	width: 334px;
	position: relative;
	transform: translateY(300%);
	left: -100%;

	@include breakpoint-down(medium) {
		display: none;
	}
}

.circleLineRight {
	background-image: url(/images/circle-line-right.svg);
	background-size: auto;
	background-repeat: no-repeat;
	height: 20px;
	width: 334px;
	position: relative;
	transform: translateY(300%);
	right: -100%;

	@include breakpoint-down(medium) {
		display: none;
	}
}

.circleLineNone {
	display: none;
}
