@use '../abstracts/mixins/mixins' as *;

.circle {
	background-image: url('/images/svgs/circle.svg');
	background-size: auto;
	background-repeat: no-repeat;
	height: 1.25rem;
	width: 1.25rem;

	@include breakpoint-down(sm) {
		display: none;
	}

	@include breakpoint-up(lg) {
		display: none;
	}
}
