@import '../abstracts/mixins';

.circle {
	background-image: url('/images/circle.svg');
	background-size: auto;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;

	@include breakpoint-down(small) {
		display: none;
	}

	@include breakpoint-up(large) {
		display: none;
	}
}
