.ellipsesWrapper {
	position: absolute;
	top: 0;
	right: 0;
	height: 15.3125rem;
	width: 10.0625rem;
	z-index: -1;

	> div {
		position: unset !important;

		&__ellipses {
			position: relative !important;
			width: 100%;
			height: unset !important;
		}
	}
}
