@import '../mixins';

.pixelsBar {
	background-image: url('/images/pixels.svg');
	background-size: auto;
	background-repeat: repeat-x;
	height: 4.71875rem;
}

.top {
	margin-bottom: 1.5rem;
	position: relative;
	top: 0;
}

.bottom {
	margin-top: 3.5625rem;
	position: relative;
	bottom: 0;

	@include breakpoint-up(medium) {
		bottom: -10px;
	}

	@include breakpoint-up(large) {
		bottom: -14px;
	}
}
