@use '../abstracts/variables' as v;
@use '../abstracts/mixins/mixins' as *;

.title {
	font-family: v.$primary-titles;
	@include font-size(20, v.$base-font-size-mobile);
	font-weight: v.$regular;
	text-align: center;
	text-transform: capitalize;
}

.line {
	height: 1px;
	width: 9.375rem;
	margin: 1.25rem auto 2.5rem;
	border: none;
}
