@use '../abstracts/variables' as v;

.title {
	font-family: v.$primary-titles;
	font-size: 1.35rem;
	font-weight: 400;
	text-align: center;
	text-transform: capitalize;
}

.line {
	height: 1px;
	width: 9.375rem;
	margin: 1.25rem auto 2.5rem;
	border: none;
}
