@use '../abstracts/variables/' as v;
@use '../abstracts/mixins/mixins' as *;

.articlePage {
	margin-top: -4.75rem;
	padding-top: 4.75rem;
	background-color: v.$primary-aqua;

	&__container {
		margin: 0 auto;
		max-width: 90rem;
	}

	// Article Image
	&__imageWrapper {
		position: relative;
		height: 14.25rem;
		border-radius: 0% 0% 50% 50% / 0% 0% 35% 35%;
		overflow: hidden;

		@include breakpoint-up(md) {
			height: 18.75rem;
		}

		// Change image design & layout
		@include breakpoint-up(lg) {
			top: 5rem;
			left: 10%;
			height: 18.6875rem;
			width: 28.125rem;
			border-radius: 0% 60% 0% 60% / 0% 60% 0% 60%;
		}

		@include breakpoint-up(xl) {
			height: 21.9375rem;
			width: 33rem;
		}

		@include breakpoint-up(xxl) {
			height: 25rem;
			width: 37.625rem;
		}
	}

	&__image {
		width: 100%;
		position: relative;
	}

	&__accentBlock {
		@include breakpoint-up(lg) {
			position: relative;
			top: -6rem;
			left: 30%;
			width: 37.5rem;
			padding: 0.5rem;
			background-color: v.$primary-gray;
			border-radius: 10px;
			box-shadow: 4px 4px 4px v.$box-shadow;
		}

		@include breakpoint-up(xl) {
			width: 44.5rem;
		}

		@include breakpoint-up(xxl) {
			width: 50.5rem;
		}
	}

	&__block {
		margin: 0 auto;
		padding: 2.5rem;
		max-width: 35rem;
		text-align: center;

		@include breakpoint-up(md) {
			padding: 4.5rem;
		}

		@include breakpoint-up(lg) {
			height: 100%;
			width: 100%;
			max-width: unset;
			border-radius: 10px;
			background-color: rgba(v.$primary-black, 0.85);
			box-shadow: 4px 4px 4px v.$box-shadow;
		}
	}

	&__title {
		padding: 0.5rem;
		margin: 1rem 0 2rem 0;
		font-family: v.$secondary-titles;
		@include font-size(18, v.$base-font-size);
		font-weight: v.$bold;
		color: v.$primary-white;

		@include breakpoint-up(lg) {
			margin: 2rem 0 2rem 0;
		}
	}

	&__content {
		padding: 2rem 0;
		border-top: 1px solid v.$primary-green;
		border-bottom: 1px solid v.$primary-green;
		color: v.$primary-white;

		@include breakpoint-up(lg) {
			border-top: 1px solid v.$primary-teal;
			border-bottom: 1px solid v.$primary-teal;
		}

		> h2 {
			margin: 1rem 0;
			@include font-size(16, v.$base-font-size);
			font-weight: v.$regular;
			color: v.$primary-gray;

			@include breakpoint-up(lg) {
				color: v.$primary-gray;
			}
		}

		> p {
			margin: 0.75rem 0;
			@include font-size(14, v.$base-font-size);
			color: v.$primary-black;

			@include breakpoint-up(lg) {
				color: v.$primary-aqua;
			}
		}

		> blockquote {
			margin: 1rem 0;
			padding: 1rem;
			background-color: rgba(v.$primary-gray, 0.25);
			border-radius: 5px;
			@include font-size(15, v.$base-font-size);
			font-style: italic;

			> p {
				color: v.$primary-gray;
			}
		}

		> ol {
			text-align: left;
			color: v.$primary-gray;

			> li::marker {
				color: v.$primary-green;

				@include breakpoint-up(lg) {
					color: v.$primary-teal;
				}

				@include breakpoint-up(lg) {
					color: v.$primary-teal;
				}
			}
		}

		> ul {
			text-align: left;
			list-style: circle;
			color: v.$primary-gray;

			> li {
				margin-bottom: 10px;
				@include font-size(14, v.$base-font-size);
				color: v.$primary-black;

				@include breakpoint-up(lg) {
					color: v.$primary-aqua;
				}
			}

			> li::marker {
				color: v.$primary-green;

				@include breakpoint-up(lg) {
					color: v.$primary-teal;
				}

				@include breakpoint-up(lg) {
					color: v.$primary-teal;
				}
			}
		}
	}

	&__button {
		display: inline-block;
		margin-top: 6.0625rem;
		padding: 0.75rem 1.25rem;
		border: none;
		border-radius: 20px;
		background-color: v.$primary-teal;
		box-shadow: 0 2px 2px v.$box-shadow;
		@include font-size(14, v.$base-font-size);
		font-weight: v.$regular;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: v.$primary-gray;
		cursor: pointer;

		&:hover {
			color: v.$primary-black;
		}

		&:active {
			background-color: v.$primary-gray;
			color: v.$primary-black;
		}
	}
}
