@import '../mixins';
@import '../variables';

.articleSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5.625rem 2.8125rem;
	text-align: center;

	@include breakpoint-up(large) {
		flex-direction: row;
		justify-content: space-around;
	}

	.imageWrapper {
		position: relative;
		height: 10.375rem;
		width: 15.625rem;
		margin-bottom: 2.6875rem;
		box-shadow: 0 4px 4px $box-shadow;
		border-radius: 10px;
		overflow: hidden;

		@include breakpoint-up(large) {
			margin-bottom: 0;
		}

		> div {
			position: unset !important;

			&__img {
				position: relative !important;
				width: 100%;
				height: unset !important;
			}
		}
	}

	&__contentWrapper {
		max-width: 32.5rem;

		@include breakpoint-up(medium) {
			max-width: 28.8889rem;
		}

		@include breakpoint-up(large) {
			max-width: 27.3684rem;
		}
	}

	&__title {
		margin-bottom: 1.4375rem;
		font-family: $secondary-titles;
		font-size: 1rem;
		font-weight: 800;
	}

	&__desc {
		margin-bottom: 2.1875rem;
		font-family: $secondary-font;
		font-size: 0.875rem;
		font-weight: 400;

		@include breakpoint-up(large) {
			margin-bottom: 1.4375rem;
			font-size: 0.8rem;
		}
	}

	&__button {
		padding: 0.8125rem 1.25rem;
		border: none;
		border-radius: 1.25rem;
		background-color: $primary-yellow;
		box-shadow: 0 2px 2px $box-shadow;
		cursor: pointer;
		letter-spacing: 0.5px;
		text-transform: uppercase;

		@include breakpoint-up(large) {
			padding: 0.8125rem 2.25rem;
			font-size: 0.8rem;
		}

		&:hover {
			color: $primary-aqua;
		}

		&:active {
			background-color: $primary-aqua;
			color: $primary-gray;
		}
	}
}
