@use '../../../styles/abstracts/variables' as v;

.form {
	width: 100%;
	max-width: 18.75rem;

	&__input {
		height: 2.5rem;
		width: 100%;
		margin-bottom: 1.25rem;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: none;
		border-radius: 5px;
		background-color: v.$primary-white;
		font-family: v.$secondary-titles;
		font-size: 0.875rem;
		font-weight: 400;

		&::placeholder {
			color: v.$primary-green;
		}
	}

	&__textarea {
		width: 100%;
		margin-bottom: 1.25rem;
		padding: 1rem;
		border: none;
		border-radius: 5px;
		background-color: v.$primary-white;
		font-family: v.$secondary-titles;
		font-size: 0.875rem;
		font-weight: 400;

		&::placeholder {
			color: v.$primary-green;
		}
	}

	&__button {
		display: block;
		margin: 0 auto;
		padding: 0.85rem 1.5625rem;
		border: none;
		border-radius: 1.25rem;
		background-color: v.$primary-yellow;
		box-shadow: 0 2px 2px v.$box-shadow;
		cursor: pointer;
		font-size: 1rem;
		color: v.$primary-black;
		letter-spacing: 0.5px;
		text-transform: uppercase;

		&:hover {
			color: v.$primary-aqua;
		}

		&:active {
			background-color: v.$primary-aqua;
			color: v.$primary-gray;
		}
	}
}
