@use '../../../styles/abstracts/variables' as v;
@use '../../abstracts/mixins/mixins' as *;

.formSection {
	padding: 2.375rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: v.$primary-aqua;

	&__title {
		margin-bottom: 1.0625rem;
		@include font-size(20, v.$base-font-size);
		font-weight: v.$bold;
		color: v.$primary-white;
	}

	&__subTitle {
		padding: 0 1.75rem;
		margin-bottom: 2.25rem;
		font-family: v.$secondary-font;
		@include font-size(16, v.$base-font-size);
		font-weight: v.$regular;
		color: v.$primary-white;
	}
}
