/*----- Global, base, and utility Scss code used here. Component and layout Scss used as module code for each individual item. -----*/

@use 'base';

html {
	background-color: #fff;
	font-family: var(--font-montserrat);
}

body {
	margin-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	letter-spacing: 0.035em;
}

p {
	line-height: 1.464rem;
}

.container {
	position: relative;
	margin: 0 auto;
	max-width: 1440px;
}

section {
	margin: 0 auto;
	max-width: 1290px;
}

.leftAccentLines {
	position: relative;
	left: 0;
	height: 30px;
	width: 100%;
	max-width: 452px;
	overflow: hidden;
}

.rightAccentBlock {
	height: 30px;
}

.rightAccentLines {
	position: absolute;
	right: 0;
	height: 30px;
	width: 324px;
}
