@import '../mixins';
@import '../variables';

.hero {
	&__block {
		margin: 0 auto;
		padding: 6.25rem 3.5rem 0;
		height: 36.5rem;
		max-width: 34.375rem;
		text-align: center;

		@include breakpoint-up(medium) {
			padding: 10.25rem 3.5rem 0;
			height: 41.5rem;
		}
	}

	&__title {
		margin-bottom: 2.75rem;
		font-family: $hero-narrow;
		font-size: 1.3125rem;
		font-weight: 400;
		text-transform: capitalize;

		> span {
			font-family: $hero-bold;
			color: $primary-orange;
		}
	}

	&__content {
		margin-bottom: 2.75rem;
		max-width: 28.125rem;
		font-size: 0.875rem;
	}

	&__button {
		padding: 1rem 1.25rem;
		border: none;
		border-radius: 1.25rem;
		background-color: $primary-yellow;
		box-shadow: 0 2px 2px $box-shadow;
		cursor: pointer;
		letter-spacing: 0.5px;
		text-transform: uppercase;

		&:hover {
			color: $primary-aqua;
		}

		&:active {
			background-color: $primary-aqua;
			color: $primary-gray;
		}
	}
}
