@use '../../abstracts/variables' as v;
@use '../../abstracts/mixins/mixins' as *;

.articles {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		padding: 5.625rem 2.8125rem;
		max-width: 64.5rem;
		text-align: center;

		@include breakpoint-up(lg) {
			flex-direction: row;
			justify-content: space-around;
		}
	}

	.imageWrapper {
		position: relative;
		height: 10.375rem;
		width: 15.625rem;
		margin-bottom: 2.6875rem;
		box-shadow: 0 4px 4px v.$box-shadow;
		border-radius: 10px;
		overflow: hidden;

		@include breakpoint-up(lg) {
			margin-bottom: 0;
		}

		> div {
			position: unset !important;

			&__img {
				position: relative !important;
				width: 100%;
				height: unset !important;
			}
		}
	}

	&__contentWrapper {
		max-width: 32.5rem;
	}

	&__title {
		margin-bottom: 1.4375rem;
		font-family: v.$secondary-titles;
		@include font-size(16, v.$base-font-size);
		font-weight: v.$bold;
	}

	&__desc {
		margin-bottom: 2.1875rem;
		font-family: v.$secondary-font;
		@include font-size(14, v.$base-font-size);
		font-weight: v.$regular;

		@include breakpoint-up(lg) {
			margin-bottom: 1.707rem;
			@include font-size(15, v.$base-font-size);
		}
	}

	&__button {
		padding: 0.8125rem 1.25rem;
		border: none;
		border-radius: 1.25rem;
		background-color: v.$primary-yellow;
		box-shadow: 0 2px 2px v.$box-shadow;
		cursor: pointer;
		letter-spacing: 0.5px;
		text-transform: uppercase;

		@include breakpoint-up(lg) {
			padding: 0.9648rem 2.6719rem;
			@include font-size(15, v.$base-font-size);
		}

		&:hover {
			color: v.$primary-aqua;
		}

		&:active {
			background-color: v.$primary-aqua;
			color: v.$primary-gray;
		}
	}
}
