@use '../abstracts/variables' as v;
@use '../abstracts/mixins/mixins' as *;

.header {
	padding: 0.5rem 1rem;
	box-shadow: 0 4px 4px v.$box-shadow;
	background-color: v.$primary-black;

	@include breakpoint-up(medium) {
		padding: 0.5625rem 2.25rem;
	}

	@include breakpoint-up(xlarge) {
		padding: 0.5937rem 5.9375rem;
	}
}
