@import '../mixins';
@import '../variables';

.header {
	padding: 1rem;
	box-shadow: 0 4px 4px $box-shadow;
	background-color: $primary-black;

	@include breakpoint-up(medium) {
		padding: 1rem 2rem;
	}
}
