@import '../abstracts/mixins';
@import '../abstracts/variables';

.header {
	padding: 0.5rem 1rem;
	box-shadow: 0 4px 4px $box-shadow;
	background-color: $primary-black;

	@include breakpoint-up(medium) {
		padding: 0.5rem 2rem;
	}

	@include breakpoint-up(xlarge) {
		padding: 0.5rem 5rem;
	}
}
