.nav {
	margin: 0 auto;
	max-width: 90rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__logoWrapper {
		height: 3.5263rem;
		width: 11.5263rem;
		position: relative;
	}
}
