@use '../abstracts/variables' as v;
@use '../abstracts/mixins/mixins' as *;

.block {
	&__link {
		font-family: v.$primary-titles;
		@include font-size(15, v.$base-font-size);
		font-weight: v.$regular;
		color: v.$primary-gray;

		&:not(:last-child) {
			margin-right: 2rem;
		}

		&:hover {
			border-bottom: 1px solid v.$primary-white;
			color: v.$primary-white;
		}
	}

	@include breakpoint-down(medium) {
		display: none;
	}
}
