@import '../animations';
@import '../variables';

.overlay {
	opacity: 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 12rem;
	background-color: $primary-black;
	z-index: 4;

	&___fadeIn {
		animation: fade-in 200ms ease-in-out forwards;
	}

	&___fadeOut {
		animation: fade-out 200ms ease-in-out forwards;
	}
}
