@use '../abstracts/mixins/mixins' as *;

.articles {
	&__container {
		margin: 0 auto;
		padding: 2.1875rem;
		width: 100%;
		max-width: 90rem;
	}

	// Articles ellipses styles
	&__ellipses {
		background-image: url('/images/svgs/ellipses-sm.svg');
		background-size: auto;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		right: 0;
		height: 15.875rem;
		width: 10.0625rem;
		z-index: -1;

		@include breakpoint-up(md) {
			background-image: url('/images/svgs/ellipses-md.svg');
			height: 30.875rem;
			width: 33.875rem;
		}

		@include breakpoint-up(lg) {
			background-image: url('/images/svgs/ellipses-lg.svg');
			height: 47.125rem;
			width: 35.1875rem;
		}

		@include breakpoint-up(xl) {
			background-image: url('/images/svgs/ellipses-xlg.svg');
			height: 47.125rem;
			width: 35.1875rem;
		}
	}

	&__block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include breakpoint-up-cust(48.125) {
			flex-flow: row wrap;
		}
	}
}
