/* ----- Mobile Nav Styles 
----- */

@use '../../abstracts/' as *;

.mobile_nav {
	@include breakpoint-up(lg) {
		display: none;
	}

	&__icons {
		color: var(--clr-blue-dark);
	}

	&__overlay {
		position: fixed;
		top: 80px;
		right: 0;
		bottom: 0;
		width: 100%;
		transform-origin: top;
		background-color: var(--clr-blue-dark);
		z-index: 9;
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
	}

	&__linksList {
		width: 100%;
		padding: 0;
		list-style: none;
		text-align: center;
	}

	&__link {
		width: 100%;
		padding: 1rem 0;
		border-bottom: 1px solid var(--clr-green-light);
	}

	&__link a {
		width: 100%;
		font-size: var(--fs-p);
		color: var(--clr-white-light);
	}

	&__button {
		padding: 0.5rem 1.25rem;
		margin-top: 1rem;
		border: none;
		border-radius: 10px;
		background-color: var(--clr-orange-light);
		font-size: var(--fs-p);
		color: var(--clr-blue-dark);
	}
}
