@use '../../abstracts/variables' as v;
@use '../../abstracts/mixins/mixins' as *;

.hero {
	&__page_container {
		margin: 0 auto;
		width: 100%;
		max-width: 90rem;
		position: relative;
	}

	// Hero ellipses styles
	&__ellipses {
		background-image: url('/images/svgs/ellipses-sm.svg');
		background-size: auto;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		right: 0;
		height: 15.875rem;
		width: 10.0625rem;
		z-index: -1;

		@include breakpoint-up(md) {
			background-image: url('/images/svgs/ellipses-md.svg');
			height: 30.875rem;
			width: 33.875rem;
		}

		@include breakpoint-up(lg) {
			background-image: url('/images/svgs/ellipses-lg.svg');
			height: 47.125rem;
			width: 35.1875rem;
		}

		@include breakpoint-up(xl) {
			background-image: url('/images/svgs/ellipses-xlg.svg');
			height: 47.125rem;
			width: 35.1875rem;
		}
	}

	// Hero content styles
	&__block {
		margin: 0 auto;
		padding: 6.25rem 3.5rem 0;
		height: 85vh;
		max-width: 30.375rem;
		text-align: center;

		@include breakpoint-up(md) {
			padding: 12.6563rem 3.9375rem 0;
			min-height: 43.75rem;
		}

		@include breakpoint-up(lg) {
			margin: 0 auto 0 7%;
		}

		@include breakpoint-up(xl) {
			margin: 0 auto 0 5%;
			max-width: 40.8203rem;
		}
	}

	&__title {
		margin-bottom: 2.75rem;
		font-family: v.$hero-narrow;
		@include font-size(22, v.$base-font-size);
		font-weight: v.$regular;
		text-transform: capitalize;

		> span {
			font-family: v.$hero-bold;
			color: v.$primary-orange;
		}
	}

	&__content {
		margin: 0 auto 2.75rem auto;
		max-width: 28.125rem;
		@include font-size(14, v.$base-font-size);
	}

	&__button {
		padding: 0.8125rem 1.25rem;
		border: none;
		border-radius: 1.25rem;
		background-color: v.$primary-yellow;
		box-shadow: 0 2px 2px v.$box-shadow;
		cursor: pointer;
		@include font-size(16, v.$base-font-size);
		letter-spacing: 0.5px;
		text-transform: uppercase;

		&:hover {
			color: v.$primary-aqua;
		}

		&:active {
			background-color: v.$primary-aqua;
			color: v.$primary-gray;
		}
	}

	// Hero image styles
	&__imageWrapper {
		height: 50.88rem;
		width: 23.438125rem;
		position: absolute;
		top: 8.8421rem;
		right: 15%;
		border-radius: 10px;
		overflow: hidden;
		transform: rotate(-5deg);
		box-shadow: 4px 4px 4px v.$box-shadow;

		@include breakpoint-down(md) {
			display: none;
		}

		@include breakpoint-up(md) {
			height: 16.41375rem;
			width: 25.13125rem;
			right: 13%;
		}

		@include breakpoint-up(xxl) {
			height: 19.208125rem;
			width: 29.41rem;
			right: 13%;
		}
	}
}
