/* FONT FAMILYS
--------------------------------*/

$fonts: (
	alegreya: "'Alegreya Sans SC', sans-serif",
	fira: "'Fira Sans', sans-serif",
	gloria: "'Gloria Hallelujah', cursive",
	league: "'League Spartan', sans-serif",
	montserrat: "'Montserrat', sans-serif",
	nycd: "'Nothing You Could Do', cursive",
	redhat: "'Red Hat Text', sans-serif",
	yellowtail: "'Yellowtail', cursive"
);

/* FONT WEIGHTS
--------------------------------*/

$font-weights: (
	regular: 400,
	bold: 700
);
