@use '../../abstracts/variables' as v;
@use '../../abstracts/mixins/mixins' as *;

.success {
	padding: 2rem 0;

	&__title {
		padding: 1rem 0;
		border-bottom: 1px solid v.$primary-green;
		font-family: v.$secondary-font;
		@include font-size(20, v.$base-font-size);
		font-weight: v.$regular;
		text-transform: uppercase;
		color: v.$primary-white;
	}

	&__content {
		padding-top: 1rem;
		padding-bottom: 0;
		color: v.$primary-black;
	}
}
