@use '../../abstracts/variables' as v;
@use '../../abstracts/mixins/mixins' as *;

.card {
	margin-bottom: 2.875rem;
	text-align: center;

	@include breakpoint-up(lg) {
		margin-bottom: 6.25rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 42.0625rem;

		&:nth-child(2) {
			flex-direction: row-reverse;
		}
	}

	// &__imageWrapper {
	&__image {
		position: relative;
		height: 10.4375rem;
		width: 15.625rem;
		margin: 0 1.6875rem 1.6875rem;
		border-radius: 10px;
		overflow: hidden;

		@include breakpoint-up(lg) {
			height: 12.5rem;
			width: 18.75rem;
			margin: 0;
		}

		// > div {
		// 	position: unset !important;

		// 	.card__image {
		// 		position: relative !important;
		// 		width: 100%;
		// 		height: unset !important;
		// 	}
		// }
	}

	&__contentWrapper {
		position: relative;
	}

	&__name {
		@include font-size(16, v.$base-font-size);
		font-weight: v.$regular;
		color: v.$primary-gray;

		@include breakpoint-up(lg) {
			@include font-size(19, v.$base-font-size);
		}
	}

	&__description {
		max-width: 16.125rem;
		margin: 0 auto;
		padding: 1.375rem 0 1.6875rem;
		font-family: v.$secondary-font;
		@include font-size(11, v.$base-font-size);
		font-weight: v.$regular;
		color: v.$primary-gray;

		@include breakpoint-up(lg) {
			padding: 1.5625rem 0;
			@include font-size(14, v.$base-font-size);
		}
	}

	&__button {
		padding: 0.8125rem 1.6875rem;
		border: none;
		border-radius: 20px;
		@include font-size(13, v.$base-font-size);
		font-weight: v.$regular;
		text-transform: uppercase;
		background-color: v.$primary-teal;
		color: v.$primary-white;
		cursor: pointer;

		@include breakpoint-up(lg) {
			padding: 0.8313rem 2.375rem;
		}

		&:hover {
			background-color: v.$primary-aqua;
		}

		&:active {
			background-color: v.$primary-gray;
			color: v.$primary-aqua;
		}
	}
}
