@use '../../abstracts/variables' as v;
@import '../../abstracts/mixins/mixins';

.projects {
	padding: 4.1875rem 0 1.3125rem;
	background-color: v.$primary-black;

	> h2 {
		color: v.$primary-white;
	}

	> hr {
		background-color: v.$primary-teal;
	}

	&__block {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include breakpoint-up(medium) {
			flex-direction: row;
			flex-wrap: wrap;
		}

		@include breakpoint-up(large) {
			max-width: 35.4211rem;
		}
	}
}
