@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.services {
	border-radius: 300% / 25%;
	padding: 4.5rem 2.375rem;
	box-shadow: 0 4px 4px $box-shadow;
	background-color: $primary-aqua;

	@include breakpoint-up(medium) {
		border-radius: unset;
		padding: 3rem 2.375rem;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__container {
		margin: 0 auto;
		max-width: 70.0716rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include breakpoint-up(medium) {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
}
