@use '../../abstracts/variables' as v;
@use '../../abstracts/mixins/mixins' as *;

.services {
	border-radius: 300% / 25%;
	padding: 4.5rem 2.375rem;
	box-shadow: 0 4px 4px v.$box-shadow;
	background-color: v.$primary-aqua;

	@include breakpoint-up(md) {
		border-radius: unset;
		padding: 3.375rem 2.6719rem;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__container {
		margin: 0 auto;
		max-width: 70.0716rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include breakpoint-up(md) {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
}
