@use '../abstracts/variables' as v;

.contactAccent {
	height: 1.875rem;
	width: 100vw;
	background-color: v.$primary-teal;
}

.contactAccentTop {
	height: 6.625rem;
	width: 100vw;
	margin-top: -4.75rem;
	background-color: v.$primary-teal;
}
