@use '../abstracts/variables' as v;
@use '../abstracts/mixins/mixins' as *;

.contact {
	background-color: v.$primary-aqua;

	&__container {
		margin: 0 auto;
		padding: 1.875rem 0;
		width: 100%;
		max-width: 90rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		@include breakpoint-up(lg) {
			padding: 5.625rem 0;
			flex-direction: row;
			justify-content: space-between;
		}

		@include breakpoint-up-cust(90) {
			justify-content: space-around;
		}
	}
}
