/* ----- About Page - Our Commitments Section Styles 
----- */

@use '../../abstracts/' as *;

.commitments {
	padding: 3rem 1rem;

	&__header___block {
		text-align: center;
	}

	&__header {
		@include font_size(24);
		font-weight: 700;
		color: var(--clr-blue-dark);
	}

	&__sub_header {
		margin-top: 1rem;
		color: var(--clr-blue-dark);
		opacity: 0.9;
	}

	&__list___block {
		margin-top: 2rem;
	}

	&__content {
		margin-top: 1rem;
		color: var(--clr-blue-dark);
		opacity: 0.9;
	}

	&__content___header {
		margin-right: 5px;
		font-weight: 700;
	}
}
