/* ----- About Page - Core Values Section Styles 
----- */

@use '../../abstracts/' as *;

.coreValues {
	padding: 3rem 1rem;

	&__header {
		@include font_size(24);
		font-weight: 700;
		color: var(--clr-blue-dark);
		text-align: center;
	}

	&__value___block {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		align-items: center;
		justify-content: space-evenly;
	}

	&__value {
		position: relative;
		height: 190px;
		width: 190px;
	}

	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 9;
		font-weight: 700;
		color: var(--clr-white-light);
		text-transform: capitalize;
		letter-spacing: 0.08rem;
	}
}
