/* ----- About Page - Hero Section Styles 
----- */

@use '../../abstracts/' as *;

.hero {
	padding: 3rem 1rem;

	&__content___headers {
		text-align: center;
	}

	&__content___header {
		@include font_size(24);
		font-weight: 700;
		color: var(--clr-blue-dark);

		> span {
			text-decoration: underline;
		}
	}

	&__content___sub_header {
		margin-top: 1rem;
		@include font-size(20);
		color: var(--clr-blue-dark);
		opacity: 0.9;
	}

	&__img___mobile {
		position: relative;
		height: 100px;
		width: 100px;
		margin: 3rem auto 0;
		border-radius: 50%;
		overflow: hidden;
		box-shadow: 4px 4px 4px var(--clr-shadow-black);
	}

	&__img___desktop {
		display: none;
	}

	&__impact___block {
		margin-top: 3rem;
		text-align: center;
	}

	&__impact___header {
		@include font-size(22);
		color: var(--clr-blue-dark);
		font-weight: 700;
	}

	&__impact___content {
		margin-top: 1rem;
		color: var(--clr-blue-dark);
		opacity: 0.9;
	}
}
