@use '../abstracts/variables' as v;
@use '../abstracts/mixins/mixins' as *;

.copyright {
	padding-top: 0.6rem;
	text-align: center;

	> p {
		@include font-size(9, v.$base-font-size);
		font-weight: v.$regular;
		text-transform: capitalize;
		color: v.$primary-gray;

		@include breakpoint-up(md) {
			@include font-size(10, v.$base-font-size);
		}
	}
}
