@import '../abstracts/variables';

.footer {
	padding: 4rem 2.75rem;
	background-color: $primary-black;

	&__line {
		margin: 1.3125rem auto;
		height: 1px;
		width: 9.375rem;
		background-color: $primary-green;
		border: none;
	}

	&__links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 93px;
	}
}
