@use '../abstracts/variables' as v;
@use '../abstracts/mixins/mixins' as *;

.links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	> a {
		padding: 2px;
		font-family: v.$primary-titles;
		@include font-size(14, v.$base-font-size);
		font-weight: v.$regular;
		color: v.$primary-gray;

		&:hover {
			border-bottom: 1px solid v.$primary-white;
			color: v.$primary-white;
		}
	}
}
