@import '../mixins';
@import '../variables';

.links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	> a {
		padding: 2px;
		font-family: $primary-titles;
		font-size: 0.875rem;
		font-weight: 400;
		color: $primary-gray;

		&:hover {
			border-bottom: 1px solid $primary-white;
			color: $primary-white;
		}
	}
}
