@import '../variables';

.logo {
	margin: 0 auto;
	width: 9.375rem;

	&__wrapper {
		height: 3.125rem;
		width: 9.375rem;

		> div {
			position: unset !important;

			.logo__image {
				position: relative !important;
				width: 100%;
				height: unset !important;
			}
		}
	}
}
