@use '../abstracts/mixins/mixins' as *;

.social {
	width: 8rem;
	height: 100%;
	padding: 0.3125rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;

	// &__iconWrapper {
	&__icon {
		height: 1.5625rem;
		width: 1.5625rem;

		@include breakpoint-up(lg) {
			height: 1.875rem;
			width: 1.875rem;
		}

		// > div {
		// 	position: unset !important;

		// 	.social__icon {
		// 		position: relative !important;
		// 		width: 100%;
		// 		height: unset !important;
		// 	}
		// }
	}
}
