@import '../mixins';
@import '../variables';

.testimonials {
	background-color: $primary-teal;

	> h2 {
		color: $primary-white;
	}

	> hr {
		height: 3px;
		background-color: $primary-green;
	}

	&__block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include breakpoint-up(medium) {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
}
