@use '../abstracts/mixins/mixins' as *;

.logo {
	margin: 0 auto;
	width: 9.375rem;

	&__wrapper {
		height: 3.125rem;
		width: 9.375rem;
		position: relative;
	}
}

.desktop {
	@include breakpoint-down(md) {
		display: none;
	}
}

.mobile {
	@include breakpoint-up(lg) {
		display: none;
	}
}
