// FONTS
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$primary-titles: 'Julius Sans One', sans-serif;
$secondary-titles: 'Comfortaa', cursive;
$hero-bold: 'Archivo Black', sans-serif;
$hero-narrow: 'Archivo Narrow', sans-serif;
