@use '../../abstracts/variables' as v;
@use '../../abstracts/mixins/mixins' as *;

.lowerCta {
	border-top: 3px solid v.$primary-aqua;
	border-bottom: 3px solid v.$primary-aqua;
	padding: 4rem;
	text-align: center;

	@include breakpoint-up(medium) {
		border-top: 5px solid v.$primary-aqua;
		border-bottom: 5px solid v.$primary-aqua;
	}

	> h2 {
		margin: 0 auto;
		max-width: 23.75rem;
		@include font-size(20, v.$base-font-size-mobile);
		font-weight: v.$bold;
		color: v.$primary-black;
	}

	> hr {
		height: 3px;
		background-color: v.$primary-teal;
	}

	&__button {
		border: none;
		border-radius: 20px;
		box-shadow: 0 2px 2px v.$box-shadow;
		padding: 1.075rem;
		background-color: v.$primary-yellow;
		@include font-size(16, v.$base-font-size-mobile);
		font-weight: v.$regular;
		text-transform: uppercase;
		color: v.$primary-black;

		@include breakpoint-up(large) {
			font-size: 0.9rem;
		}

		&:hover {
			color: v.$primary-aqua;
		}

		&:active {
			background-color: v.$primary-aqua;
			color: v.$primary-gray;
		}
	}
}
