// Mobile nav
@keyframes fade-in {
	from {
		visibility: hidden;
		left: -100%;
		opacity: 0;
	}

	1% {
		visibility: visible;
		opacity: 0;
	}

	to {
		visibility: visible;
		left: 0;
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		visibility: visible;
		left: 0;
		opacity: 1;
	}

	99% {
		visibility: visible;
		opacity: 0;
	}

	to {
		visibility: hidden;
		left: -100%;
		opacity: 0;
	}
}
