@keyframes fade-in {
	from {
		visibility: hidden;
		top: 0;
		opacity: 0;
	}

	1% {
		visibility: visible;
		opacity: 0;
	}

	to {
		visibility: visible;
		top: 4.525625rem;
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		visibility: visible;
		top: 4.525625rem;
		opacity: 1;
	}

	99% {
		visibility: visible;
		opacity: 0;
	}

	to {
		visibility: hidden;
		top: 0;
		opacity: 0;
	}
}
