// COLORS
$primary-yellow: #d9d114;
$primary-gray: #d8d9d7;
$primary-white: #fafafa;
$primary-black: #012623;
$primary-green: #025951;
$primary-teal: #03a6a6;
$primary-aqua: #0396a6;
$primary-orange: #bb4423;
$box-shadow: rgba(1, 38, 35, 0.25);

// FONTS
$hero-bold: 'Archivo Black', sans-serif;
$hero-narrow: 'Archivo Narrow', sans-serif;
$blog-titles: 'Comfortaa', cursive;
$secondary-font: 'Montserrat', sans-serif;
$primary-font: 'Poppins', sans-serif;
