@use './abstracts/variables' as v;
@use './abstracts/mixins/mixins' as *;

html,
body {
	padding: 0;
	margin: 0;
	font-family: v.$primary-font;
	@include font-size(16, v.$base-font-size);
	line-height: 1.3;
	letter-spacing: 0.5px;
	color: v.$primary-black-text;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

a,
a:visited,
a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
}

* {
	box-sizing: border-box;
}

main {
	margin-top: 4.75rem;
}
