@use './abstracts/variables' as v;
@import './abstracts/mixins/mixins';

html,
body {
	padding: 0;
	margin: 0;
	font-family: v.$primary-font;
	font-size: 16px;
	line-height: 1.3;
	letter-spacing: 0.5px;
	color: v.$primary-black-text;

	@include breakpoint-up(medium) {
		font-size: 18px;
	}

	@include breakpoint-up(large) {
		font-size: 19px;
	}
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

a,
a:visited,
a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
}

* {
	box-sizing: border-box;
}
