@use '../../abstracts/variables' as v;
@use '../../abstracts/mixins/mixins' as *;

.card {
	max-width: 23.4rem;
	margin: 0.78125rem;
	padding: 0 1.5rem;

	@include breakpoint-up(lg) {
		margin: 0.9375rem 0;
	}

	&__quoteBlock {
		min-height: 10.3125rem;
		border-radius: 25px;
		padding: 1.25rem;
		background-color: rgba($color: v.$primary-white, $alpha: 0.75);
		box-shadow: 4px 4px 4px v.$box-shadow;
		margin-bottom: 1.3125rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__content {
		@include font-size(13, v.$base-font-size);
		color: v.$primary-black;
		line-height: 1.4;
		text-align: center;
	}

	&__block {
		padding-left: 2.875rem;
	}

	&__name {
		@include font-size(14, v.$base-font-size);
		font-weight: v.$bold;
	}

	&__subBlock {
		display: flex;
	}

	&__position {
		margin-right: 0.3rem;
	}

	&__position,
	&__company {
		@include font-size(12, v.$base-font-size);
		color: v.$primary-green;
	}
}
