/* ----- Blog Archives Page - Hero Section Styles 
----- */

@use '../../abstracts/' as *;

.blog_archives {
	padding: 1rem 1rem 3rem;

	@include breakpoint-up(md) {
		padding: 2rem 1rem 4rem;
	}

	@include breakpoint-up(lg) {
		padding: 3rem 2rem 5rem;
	}

	@include breakpoint-up(xl) {
		padding: 4rem 2rem 6rem;
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-evenly;
	}
}
