/* ----- Blog Archives Page - Hero Section Styles 
----- */

@use '../../abstracts/' as *;

.blog_archives {
	padding: 1rem 1rem 3rem;

	@include breakpoint-up(md) {
		padding: 2rem 1rem 4rem;
	}

	@include breakpoint-up(lg) {
		padding: 3rem 2rem 5rem;
	}

	@include breakpoint-up(xl) {
		padding: 4rem 2rem 6rem;
	}

	&__filter {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.5rem;
		margin-bottom: 2rem;
	}

	&__filter_link {
		padding: 0.35rem 1rem;
		border-radius: 20px;
		border: 2px solid var(--clr-green-light);
		font-size: var(--fs-p-sm);
		color: var(--clr-green-light);
		transition: all 300ms ease-out;

		&:hover,
		&___active {
			background-color: var(--clr-green-light);
			color: var(--clr-white-pure);
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-evenly;
	}
}
