/* ----- Blog Post Page Styles 
----- */

@use '../../abstracts/' as *;

.hero {
	text-align: center;

	&__wrapper {
		margin: 0 auto;
		max-width: 1069px;
		display: flex;
		flex-direction: column;

		@include breakpoint-up(xl) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: 2rem;
		}
	}

	&__title {
		margin: 2rem auto 0;
		max-width: 410px;
		font-size: var(--fs-h1);
		font-weight: 700;
		color: var(--clr-blue-dark);

		@include breakpoint-up(lg) {
			margin: 3rem auto 0;
		}

		@include breakpoint-up(xl) {
			margin: 0 auto;
		}
	}
}

.post {
	padding: 3rem 2rem;

	@include breakpoint-up(md) {
		padding: 4rem 2rem;
	}

	@include breakpoint-up(lg) {
		padding: 5rem 2rem;
	}

	@include breakpoint-up(xl) {
		padding: 6rem 2rem;
	}

	&__article {
		margin: 0 auto;
		max-width: 800px;
		color: var(--clr-blue-dark);
		text-align: center;

		> h2 {
			font-size: var(--fs-h2);
			font-weight: 700;
		}

		> h3 {
			font-size: var(--fs-h3);
			font-weight: 400;
		}

		> p {
			font-size: var(--fs-p);
			opacity: 0.9;
		}

		> ul {
			padding-left: 20px;
			margin: 0 auto;
			max-width: 600px;
		}
	}

	&__date,
	&__author {
		font-size: var(--fs-p-sm);
		opacity: 0.9;
	}

	&__details {
		margin-top: 1rem;
	}

	&__btns {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;

		@include breakpoint-up(xl) {
			margin: 5rem auto 0;
			flex-direction: row;
			justify-content: center;
		}
	}

	&__btn___primary,
	&__btn___secondary {
		width: 290px;
	}
}
